server:
  port: 8070

spring:
  main:
    web-application-type: reactive

  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**

        - id: manual-order-service
          uri: lb://MANUAL-ORDER-SERVICE
          predicates:
            - Path=/api/manual-order/**
          filters:
            - name: JwtAuth

    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: YVZlcnlMb25nQW5kU2VjdXJlU2VjcmV0S2V5VGhhdEhhczMyQ2hhcnNPck1vcmUh  # base64 encoded key
