server:
  port: 8081
spring:
  application:
    name: decision-engine

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/trading_platform
    username: root
    password: password
    jpa:
      hibernate:
        ddl-auto: update
        show-sql: true
      database-platform: org.hibernate.dialect.MySQLDialect
    
  cloud:
    discovery:
      enabled: true
      
  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka  # Update if Eureka server is on another host
  instance:
    prefer-ip-address: true 
       
internal:
  jwt:
    secret: my-internal-secret-key-should-be-very-secure
    expiration-millis: 60000

